body{
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    background-image: url(./img/bakrundsbild.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
header{
    display:grid;
    grid-column: 2/3;
    grid-row: 1/1;
    grid-template-columns: 50% 50%;
    background-color: rgb(217, 217, 217);
    border-radius: 5px;
    margin-top: 5%;
    max-height: 100%;
}
main{
    display: grid;
    margin-top: 5%;
    grid-row:2/2;
    grid-column: 2/2;
    grid-template-columns: 50% 50%;
}
.ägg{
    margin-top: 10%;
    width: 85%;
    height: 85%;
    grid-column: 1/1;
    grid-row: 2/2;
    border-radius: 5px;
}
.mainListor{
    border-radius: 5px;
    background-color: rgb(217, 217, 217);
    padding: 2.5%;
    margin-top: -2%;
    width: 80%;
    font-size: 20px;
}
.näringsDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -25%;
    background-color: rgb(217, 217, 217);
    border-radius: 5px;
    padding: -10%;
    width: 95%;
    font-size: 20px;
}
.ingredienser{
    display:grid;
    grid-column: 1/1;
}
.energi{
    padding-left: 1%;
    margin-top: -1.5%;
}
.näringstext{
    margin-top: 5%;
    padding-left: 1%;
    padding-bottom: 5%;
    gap: -5%;
}

.sträck100{
    background-color: rgb(190, 190, 190);
    height: 1%;
    width: 200%;
    margin-top: -5%;
}
.instruktioner{
    display:grid;
    grid-column: 2/2;
    margin-right: -17.5%;
}
.näringsvärde{
    display:grid;
    margin-top: 40%;
    grid-column: 2/2;
}
.näringstitel{
    margin-top: -37%;
    font-size: 35px;
}
.mainTitel{
    font-size: 35px;
}
article{
    display:grid;
    grid-template-rows: 33% 66%;
    max-height: 100px;
}
.test{
    margin-right: 1%;
    margin-left: 1%;
    max-height: 50%;
}
.person{
    max-height: 150%;
    max-width: 150%;
    grid-row: 1/2;
    grid-column: 1/1;
}
.kommentarnamn{
    grid-row: 1/1;
    grid-column: 1/1;
    padding-left: 5%;
}
.kommentartext{
    grid-column: 1/1;
    grid-row: 2/2;
    padding-left: 5%;
}

.kommentarsfält{
    display:grid;
    grid-column: 2/2;
    grid-row: 3/4;
}

.kommentarsbox{
    border-radius: 5px;
    background-color: rgb(217, 217, 217);
    padding-bottom: 30%;
    max-height: 50%;
}

.kommentarsknapp{
    background-color: rgb(190, 190, 190);
    border-radius: 50px;
    padding: 1%;
    width: 10%;
    margin-left: 1%;
    margin-top: -0.5%;
    text-align: center;
    font-size: 17px;
}

.skrivlåda{
    border: solid 2px rgb(190, 190, 190);
    border-radius: 5px;
    margin: 1%;
    height: 100%;
}

.visaflerkommentarer{
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
}

.pannkakor{
    display:grid;
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.headertext{
    display:grid;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 7%;
    margin-top: 20%;
    font-size: 25px;
}
h1{
    display:grid;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 4%;
    padding-left: 7%;
    margin-top: -5px;
    font-size: 50px;
}
.stjarnor{
    display:grid;
    margin-top: 15%;
    margin-left: 7%;
    width: 30%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.stjarnortext{
    display:grid;
    margin-top: 16%;
    margin-left: 38%;
    width: 30%;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 21px;
}
.kommentarer{
    display:grid;
    margin-top: 16%;
    margin-left: 50%;
    width: 5%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.kommentarertext{
    display:grid;
    margin-top: 16%;
    margin-left: 56%;
    width: 30%;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 21px;
}

.klimat{
    display:grid;
    margin-top: 105%;
    margin-left: 5%;
    width: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.klimattext{
    display:grid;
    margin-top: 108%;
    margin-left: 16%;
    width: 30%;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 21px;
    color: rgb(95, 191, 0);
}

.skapare{
    display:grid;
    margin-top: 108%;
    margin-left: 80%;
    width: 30%;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 12px;
}